body {
  font-family: "Public Sans", sans-serif;
}

.w-65 {
  width: 65% 100% !important;
}

.w-35 {
  width: 35% 100% !important;
}

.no-outline:focus {
  outline: none;
}

/* .card {
  border-top-style: hidden !important;
  border-right-style: hidden !important;
  border-left-style: hidden !important;
  border-bottom-style: hidden !important;
} */
