input {
  border-top-style: hidden !important;
  border-right-style: hidden !important;
  border-left-style: hidden !important;
  border-bottom-style: hidden !important;
  background-color: #eee !important;
}

.no-outline:focus {
  outline: none;
}

.w-65 {
  width: 65%;
}

.experience-years {
  padding-left: 10px !important;
  padding-right: 10px !important;
  font-size: 12px !important;
}

span {
  line-height: 1.2em;
}
